name: AQI Pipeline

on:
  schedule:
    - cron: '30 4 * * *'
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Build container
        run: docker build -t aqi-model .

      - name: Run pipeline
        run: docker run aqi-model
